html {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline; 
}
html {
  background: black;
}
body {
  padding-top: 10px;
  background-color: black;
  color: white;
  font-family: interface, 'Helvetica Neue', helvetica, sans-serif; 
  font-size: 16px;
  margin: 0px auto;
  min-height: 500px;
  overflow-y: scroll;
  text-align: left;
  width: 1040px;
  min-width: 1040px;
  padding: 0px;
  border: 0px; 
  vertical-align: baseline; 
}
.navbar-brand {
  font-weight: 900;
  font-size: 40px;
}
a {
  color: #fff;
}
nav a img {
  width: 60px;
  height: 60px;
}
.nav-item {
  margin-right: 5px;
  font-size: 15px;
}
.nav-link_bottom {
  height: 3px;
  background: linear-gradient(45deg, #6157ff, #4975cb);
}
.nav-link:hover {
  background: linear-gradient(45deg, #6157ff, #7e48cd);
  color: #fff;
}
.search_btn {
  background: linear-gradient(45deg, #6157ff, #e0409b);
  outline: none;
}
.banner_img img {
  width: 100%;
}
.trending{
  margin-top: 10px; 
}